.footer{
    margin: 0;
}

.footer .footerIconContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(67, 67, 67);    
    letter-spacing: 2px;
    padding-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.footer .footerIconContainer .footerIconWithText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .footerIconContainer .footerIconWithText .icontextlink{
  text-decoration: none;
}
.footer .footerIconContainer .footerIconWithText h4{
  color: white;
}
.footer .footerIconContainer .footerIconWithText h4:hover{
  color: white;
}

.footer .footerBigIcons{
    border-radius: 100px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
}

.footer .footerBigIcons:hover{
    background-color: #85b8ba;
}

.footer  .footerNewsletter{
    border-radius: 5px;
}

/* --------------------------------------------------------------------------------------- */

.footer .footerlinksContainer{
    display: flex;
    align-items: safe;
    justify-content: space-evenly;
    background-color: rgb(67, 67, 67);
    color: rgb(180, 180, 180);
    padding: 20px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.footer .footerlinksContainer .logo img{
    width: 100%;
   height: 100%;
}
.footer .footerlinksContainer .logo{
    margin-top: 2%;
    width: 10%;
    height: 10%;
    background-color: white;
    border-radius: 10px;
    margin-left: 2%;    
}

.footer .footerlinksContainer .links{
    display: flex;
    flex-direction: column;
}

.footer .footerlinksContainer h3{
    font-size: x-large;
    letter-spacing: 2px;
    margin-bottom: 8px;
    color: white;
}
.footer .footerlinksContainer span{
    font-size: large;
    letter-spacing: 3px;
    margin: 5% 0%
}
.footer .footerlinksContainer .footer__links{
   text-decoration: none;
   color: white;
}
.footer .footerlinksContainer .footer__links:hover{
    color: rgb(0, 110, 255) ;
}


/* -------------------------------------------------------------------------------------------- */

.footer .socialLinksRow{
    background-color: rgb(67, 67, 67);
}
.footer .socialLinksRow .icons_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .socialLinksRow .icons_container .socialiconslink{
    padding: 0.7% 1%;
}
.footer .socialLinksRow .socialIcons{
    color: white;
}
.footer .socialLinksRow .socialIcons:hover{
    color: #85b8ba;
}
.footer .socialLinksRow p{ 
    color: white;
    font-size: small;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer .socialLine{
    margin: 0.2px;
}
