.login_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #017547b1;
  color: white;
}
.login_nav .logo img{
  width: 100%;
  height: 100%;
}
.login_nav .logo{
  width: 4%;
  height: 4%;
  background-color: white;
  border-radius: 10px;
  margin-left: 2%;
}

.login_nav .right_text{
  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  width: 60%;
  font-size: larger;
}
.login_nav .right_text p{
  margin-right: 3%;
}

/* ===================================================== */
.login_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    background: whitesmoke;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  
 .login_container .login_img {
  width: 40%;
  /* border: 1px solid red; */
  }

 

 .login_container .form_container .header {
    text-align: center;
    color:  #017547b1;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
 .login_container .form_container .header span{
    font-size: 20px;
  }
  
 .login_container .form_container .inputs {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .login_container .form_container .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 439px;
    height: 42x;
    background: #eaeaea;
    border-radius: 6px;
    position: relative; 
  }
  
  .login_container .form_container .input img {
    margin: 0px 19px;
  }
  
  .form_container .input input {
    height: 38px;
    width: 375px; 
    background: white;
    border: 1px solid #979696;
    color: #797979;
    font-size: 19px;
  }
  
  .login_container .form_container .password-toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
  width: 24px; 
  height: 24px;
  fill: #000; 
}
  
  .login_container .form_container .forgot-password {
    padding-left: 62px;
    margin-top: 25px;
    margin-left: 18px;
    color: #797979;
    font-size: 18px;
  }
  .login_container .form_container .forgot-password .links{
    text-decoration: none;
    color: rgb(111, 165, 237);
  }
  .login_container .form_container .forgot-password span{
    color: #797979;
  }
  
  
  .login_container .form_container .submit-container {
    display: flex;
    gap: 30px;
    margin: 24px auto;
    
  }
  
 .login_container .form_container .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 59px;
    color: #fff;
    background-color: #1aae73b1;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login_container .form_container .gray {
    background: rgb(119, 164, 224);
    color: white;
  }
  
  .login_container .form_container .submit:hover{
    background-color: #1f8b60b1;
  }
 
 .login_container .form_container .gray:hover {
   background: rgb(69, 127, 201);
   color: white;
 }